#error-text{
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#heading{
    margin-bottom: 1em;
}

#questionnaire-select{
    width: fit-content;
    margin-bottom: 0.5em;
}

.loader {
    margin: 1em auto;
    border: 1em solid #f3f3f3;
    border-top: 1em solid #3498db;
    border-radius: 50%;
    width: 7em;
    height: 7em;
    animation: spin 900ms linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}