h1{
    margin-bottom: 1.2em;
}

.ressort-head-div{
    display: flex;
    flex-direction: row;
    border-bottom: solid lightgrey;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}

label{
    font-size: 1.2em;
    font-weight: bold;
}

.ressort-name, .ressort-shortcut {
    font-size: 1.2em;
    font-weight: bold;
}

.ressortNameDiv{
    width: 60%;
}

.ressortShortcutDiv{
    width: 40%;
    margin-left: 0.3em;
}

.branch-div{
    display: inline-flex;
    flex-direction: row;
    background-color: #f6f6f6;
    padding: 0 1em;
    border-radius: 0.5em;
    margin: 0.5em 0 0.5em 1em;
    flex: auto;
}

.branch-div:nth-last-child(3){
    flex: inherit;
}

.break{
    flex-basis: 100%;
    height: 0;
}

.branch-div:has(select){
    padding-left: 0;
    flex: inherit;
}

.delete-branch-button, .add-branch-button{
    height: fit-content;
    margin: auto 0;
}

.add-branch-button{
    margin: auto 0 auto 1em;
}

.delete-ressort-button{
    margin: auto 0.3em;
}

.new-branch-select{
    height: fit-content;
    background-color: transparent;
    border: 0;
    font-size: 1.4em;
}

.ressort-div{
    margin-top: 1.5em;
    margin-bottom: 3.2em;
    border: solid lightgrey;
    padding: 1.5em;
    border-radius: 1em;
}

.branch-name-span{
    font-size: 1.4em;
    margin: 0 0.2em 0 1em;
}

.branchelements-div{
    display: flex;
    flex-wrap: wrap;
}

#submit-button{
    margin-bottom: 2em;
    float: right;
}

#add-ressort-button{
    margin-bottom: 1em;
    margin-bottom: 1em;
}