.input-div{
    display: flex;
}

.sector-h2{
    margin-top: 2em;
    margin-bottom: 1em;
    border-bottom: dashed lightgrey;
    padding-bottom: 0.5em;
}

form{
    margin-bottom: 2em;
}

#situation-file-form{
    margin-top: 3em;
}

#file-input{
    margin-bottom: 1em;
    width: auto;
}
.success-error-message{
    width: fit-content;
}

.branch-div{
    margin-bottom: 1.5em;
    margin-left: 1em;
}

.description-div{
    margin-top: 0.8em;
}

.comment-textarea{
    width: 100%;
    align-self: center;
    height: 50%;
}

.value-select{
    align-self: center;
    margin-right: 1em;
    height: fit-content;
}

.description-p{
    width: 40%;
    align-self: center;
}

.without-description-div{
    margin-left: 1em;
    width: 60%;
}

@media only screen and (min-width: 1100px) {
    .comment-textarea{
        height: 70%;
    }

}