<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Registrieren</title>
    <script type="text/javascript" th:src="@{/js/user_registration_script.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="signup-form">
                    <form th:object="${form}" th:action="@{/register/user}" method="post"
                          class="mt-5 border p-4 bg-light shadow">
                        <div th:if="${param.passwortUngleich}" class="alert alert-danger alert-dismissible">
                            <p>Die Passwörter stimmen nicht überein.</p>
                        </div>
                        <div th:if="${param.usernameException}" class="alert alert-danger alert-dismissible">
                            <p>Es existiert bereits ein Account mit diesem Nutzernamen.</p>
                        </div>
                        <h4 class="mb-4 text-secondary">Erstelle einen Account</h4>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label>Email</label>
                                <input type="email" th:field="*{email}" class="form-control"/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Nutzername</label>
                                <input type="text" th:field="*{username}" class="form-control"/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Rolle</label>
                                <select onchange="onRoleChange(this)" th:field="*{role}" class="form-select">

                                    <option th:each="role: ${roles}" th:attr="data-role=${role.name}" th:value="${role.id}" th:text="${role}"></option>
                                </select>
                            </div>
                            <div class="mb-3 col-md-6">
                                <div id="land" style="display: none;">
                                    <label>Landeszugehörigkeit</label>
                                    <select th:field="*{federalState}" class="form-select">
                                        <th:block th:each="federalState: ${federalStates}">
                                            <option th:text="${federalState.getName()}" th:value="${federalState.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div id="ressort" style="display: none;">
                                    <label>Ressortzugehörigkeit</label>
                                    <select th:field="*{ressort}" class="form-select">
                                        <th:block th:each="ressort: ${ressorts}">
                                            <option th:text="${ressort.getName()}" th:value="${ressort.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Passwort</label>
                                <input th:field="*{password}" type="password"class="form-control" minlength="12"/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Passwort bestätigen</label>
                                <input type="password" th:field="*{confirmPassword}" class="form-control" minlength="12"/>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                                <label class="form-check-label" for="flexCheckDefault">
                                    Mit der Registrierung stimmen Sie der <a th:href="@{../datenschutz}">Datenschutzerklärung</a> zu.
                                </label>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary float-end">Registrieren</button>
                            </div>

                        </div>
                    </form>
                    <p class="text-center mt-3 text-secondary">Haben sie einen Account? <a th:href="@{/login}" target="_blank">Jetzt
                        anmelden</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
